{% extends 'base.html' %}
{% block title %}
About
{% endblock %}

{% block content %}
<style>
  /* Specific styles for the content of the About page */
  .about-content {
    margin-top: 20px; /* Adjust margin as needed */
    color: #f0f0f0;
  }

  .about-highlight {
    background-color: #424242;
    color: #f0f0f0;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 15px;
  }

  .about-list {
    list-style-type: none;
    padding: 0;
  }

  .about-list-item {
    margin-bottom: 10px;
  }
</style>

<div class="container about-content">
  <h1>About Waste Management Dashboard:</h1>
  
  <div class="about-highlight">
    <p>Welcome to our Waste Management Dashboard, a project aimed at revolutionizing Introducing Waste-to-Wonder, a platform designed to connect skilled artisans with the resources they need to transform waste into valuable products. Our service allows you to post a product request, and local craftsmen, who are experts in repurposing materials, will take the required waste from our inventory to craft your desired item. By harnessing the skills of nearby workers and promoting sustainable creation, we ensure that waste is transformed into beautiful, functional products, while supporting local talent. Join us in making the world a cleaner, more resourceful place—one innovative creationat a time!</p>
  </div>
  
  <p>Our dashboard offers:</p>
  <ul class="about-list">
    <li class="about-list-item">Data visualization of waste management statistics</li>
    <li class="about-list-item">Real-time tracking of waste collection and disposal</li>
    <li class="about-list-item">Interactive maps for identifying waste collection points</li>
    <li class="about-list-item">Analysis of environmental impact and sustainability</li>
  </ul>
  
  <p>We are committed to creating a cleaner and greener environment by leveraging technology and innovative solutions.</p>
</div>
{% endblock %}
